[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
Flask = "*"
Flask-WTF = "*"
email-validator = "*"
Flask-Mail = "*"
coverage = "*"
python-dotenv = "*"
joblib = "*"
scikit-learn = "<=0.22.1"
pandas = "<=0.25.3"
xgboost = "<=1.0.2"

[dev-packages]

[requires]
python_version = "3.7"
