ul.no_bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1::before {
    display: block;
    content: " ";
    margin-top: -60px;
    height: 60px;
    visibility: hidden;
    pointer-events: none;
}
h3::before {
    display: block;
    content: " ";
    margin-top: -60px;
    height: 60px;
    visibility: hidden;
    pointer-events: none;
}